BASE_URL=https://www.saucedemo.com/
BROWSER=chrome
HEADLESS=false
REMOTE=false
SELENIUM_GRID_URL=http://localhost:4444/wd/hub
IMPLICIT_WAIT=2
EXPLICIT_WAIT=15
WINDOW_WIDTH=1920
WINDOW_HEIGHT=1080

# BrowserStack (optional)
BROWSERSTACK_ENABLED=false
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
BROWSERSTACK_PROJECT_NAME=UI_Automation_Framework
BROWSERSTACK_BUILD_NAME=Local Build
BROWSERSTACK_OS=
BROWSERSTACK_OS_VERSION=
BROWSERSTACK_BROWSER_VERSION=latest
BROWSERSTACK_DEBUG=true
BROWSERSTACK_NETWORK_LOGS=false

# Local Edge overrides (optional)
EDGE_DRIVER_PATH=tools/edgedriver/msedgedriver
EDGE_BINARY_PATH=/Applications/Microsoft Edge.app/Contents/MacOS/Microsoft Edge
